* {
     font-family: "Roboto", sans-serif
}

.search-inner {
     background-image: url(./assets/img-5.jpeg);
     background-repeat: no-repeat;
     background-size: cover;
     
}
.inner-footer{
     background-color: #151516;
}